<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Books</p>
  <a href="/list/add" class="btn btn-dark btn-lg">Add new book</a>
  <a href="/list" class="btn btn-dark btn-lg"> Our Library </a>
</div>